.defaultcolor{
  background-color: #14161A;
  color:white;
  min-height: 100vh;
}
.bannerbgimg{
  background-image: url('./banner2.jpg');
  background-size: cover;
  background-position: center;
  height:1000rem;
}