@tailwind base;
@tailwind components;
@tailwind utilities;
.defaultcolor{
    background-color: #14161A;
    color:white;
    min-height:125vh;
    overflow: hidden;
  }
  /* html, body, #app, #app>div {
    height: 100%
  } */